
@{
    ViewData["Title"] = "Informacje";
}

<article class="container bg-light p-5">
    <div class="row border-bottom">
        <div class="col-lg-5" style="margin-top:auto">
            <div>
                <h1 class="h2">Gdzie nas znajdziesz?</h1>
                <p>Nasze budynki mieszczą się w największych miastach w Polsce.</p>
            </div>
            <br />
            <div>
                <h4>Ciągle się rozwijamy</h4>
                <p>Obecnie w <b style="color: red;">6</b> Miastach mamy <b style="color: red;">14</b> budynków i oferujemy około <b style="color: red;">70</b> sal konferencyjnych. Z czasem naszych budynków będzie coraz więcej.</p>
            </div>
            <div class="p-4 text-center">
                <a asp-area="" asp-controller="Rezerwacja" asp-action="Rezerwacja">Rezerwuj</a>
            </div>
        </div>
        <div class="col-lg-7 text-center">
            <img class="img-fluid p-1" src="../ZDJ/mapa.png" />
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-lg-7">
            <img class="img-fluid p-1" src="../ZDJ/z7.jpg" />
        </div>
        <div class="col-lg-5 text-center p-5">
            <h2>Notebook czy smartphone? Nie ważne</h2>
            <p>Nasza aplikacja dopasowuje się do ciebie abyś mógł z niej kożystac wszędzie tam gdzie tego potrzebujesz, zarówno na użądzeniach stacjonarnych jak i bobilnych.</p>
        </div>
    </div>
</article>

