
@{
    ViewData["Title"] = "Kontakt";
}

<article class="container bg-light p-5 text-center">
    <div class="row">
        <table class="m-auto col-5">
            <thead class="border-bottom">
                <tr>
                    <th colspan="2" class="border-bottom">
                        <h1>Kontakt</h1>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr><td class="inputalert" colspan="2"> </td></tr>
                <tr>
                    <td colspan="2">
                        <b>Pracujemy codziennie od godziny 8 do 18</b>
                    </td>
                </tr>
                <tr><td class="inputalert border-bottom" colspan="2"></td></tr>
                <tr><td class="inputalert" colspan="2"></td></tr>
                <tr>
                    <td>
                        Telefon:
                    </td>
                    <td>
                        123 456 789
                    </td>
                </tr>
                <tr>
                    <td>
                        Email:
                    </td>
                    <td>
                        firma@srsk.pl
                    </td>
                </tr>
                <tr><td class="inputalert border-bottom" colspan="2"></td></tr>
                <tr><td class="inputalert" colspan="2"></td></tr>
                <tr>
                    <td>
                        <b>Oddział główny</b>
                    </td>
                    <td>
                        <b>Oddział serwisowy</b>
                    </td>
                </tr>
                <tr><td class="inputalert" colspan="2"></td></tr>
                <tr>
                    <td>
                        ul. Zasłużona 5
                    </td>
                    <td>
                        ul. Oceniona 5
                    </td>
                </tr>
                <tr>
                    <td>
                        01-493 Warszawa
                    </td>
                    <td>
                        34-309 Rzeszów
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>

