
@{
    ViewData["Title"] = "Udało się!";
}

<article class="container bg-light p-5 text-left">
    <div class="row">
        <div class="col-12">
            <h1>Rezerwacja przebiegłą pomyślnie</h1><br />
        </div>
        <div class="col-12">
            <div class="col-6 border float-left">
                <a class="nav-link text-dark" asp-area="" asp-controller="Rezerwacja" asp-action="Rezerwacja">Dodaj kolejną rezerwacje</a>
            </div>
            <div class="col-6 border float-right">
                <a class="nav-link text-dark" asp-area="" asp-controller="Konto" asp-action="Informacje">Zobacz swoje rezerwacje</a>
            </div>
        </div>
    </div>
</article>

