
@{
    ViewData["Title"] = "UWAGA";
}

<article class="container bg-light p-5">
    <div class="row pt-4">
        <div class="col-12">
            <h1 style="color:red">@ViewBag.Info</h1>
            <hr />
        </div>
    </div>
</article>
